{{/* deposit-cli-existing.tmpl */}}
docker run -it --rm -v {{.Path}}:/app/validator_keys {{.Image}} existing-mnemonic --chain {{.Network}} --keystore_password {{if .Password}}{{.Password}}{{else if .LenPass}}{{range .LenPass}}*{{end}}{{end}}{{if .Eth1WithdrawalAddress}} --eth1_withdrawal_address {{.Eth1WithdrawalAddress}}{{end}}