{{/* taikogeth.tmpl */}}
{{ define "texecution" }}
# --- Layer 2 - Optimism Execution Node - configuration ---
CHAIN_ID=167013
EXECUTION_L2_API_URL={{.ExecutionL2ApiURL}}
EC_L2_IMAGE_VERSION={{.ElL2Image}}
EC_L2_DATA_DIR={{.ElDataDir}}-taiko
EC_L2_JWT_SECRET_PATH={{.JWTL2SecretPath}}
{{ end }}
