{{/* teku.tmpl */}}
{{ define "validator" }}
# --- Consensus Layer - Validator Node - configuration ---
CC_NODE={{.ConsensusNodeURL}}
GRAFFITI={{.ExecutionEngineName}}
VL_LOG_LEVEL=info
VL_INSTANCE_NAME=TekuValidator
VL_IMAGE_VERSION={{if .VlImage}} {{.VlImage}} {{else}} consensys/teku:latest {{end}}
KEYSTORE_DIR={{.KeystoreDir}}
VL_DATA_DIR={{.VlDataDir}}
{{ end }}