{{/* prysm.tmpl */}}
{{ define "validator" }}
# --- Consensus Layer - Validator Node - configuration ---
CC_API_URL={{.ConsensusAdditionalApiURL}}
GRAFFITI={{.ExecutionEngineName}}
VL_LOG_LEVEL=info
VL_INSTANCE_NAME=PrysmValidator
VL_IMAGE_VERSION={{if .VlImage}}{{.VlImage}}{{else}}gcr.io/prysmaticlabs/prysm/validator:stable{{end}}
KEYSTORE_DIR={{.KeystoreDir}}
WALLET_DIR=./wallet
VL_DATA_DIR={{.VlDataDir}} 
MEV=true
{{ end }}
