{{/* erigon.tmpl */}}
{{ define "execution" }}
# --- Execution Layer - Execution Node - configuration ---
EC_IMAGE_VERSION={{if .ElImage}}{{.ElImage}}{{else}}thorax/erigon:devel{{end}}
EC_DATA_DIR={{.ElDataDir}}
EC_METRICS_ENABLED="--metrics"
EC_JWT_SECRET_PATH={{.JWTSecretPath}}
{{ end }}