{{ define "lido_exporter" }}
  lido-exporter:
    container_name: sedge_lido_exporter
    image: ${LIDO_EXPORTER_IMAGE}
    restart: unless-stopped
    ports:
      - ${LIDO_EXPORTER_PORT}:8088
    environment:
      - LIDO_EXPORTER_NODE_OPERATOR_ID=${LIDO_EXPORTER_NODE_OPERATOR_ID}
      - LIDO_EXPORTER_REWARD_ADDRESS=${LIDO_EXPORTER_REWARD_ADDRESS}
      - LIDO_EXPORTER_NETWORK=${LIDO_EXPORTER_NETWORK}
      - LIDO_EXPORTER_RPC_ENDPOINTS=${LIDO_EXPORTER_RPC_ENDPOINTS}
      - LIDO_EXPORTER_WS_ENDPOINTS=${LIDO_EXPORTER_WS_ENDPOINTS}
      - LIDO_EXPORTER_SCRAPE_TIME=${LIDO_EXPORTER_SCRAPE_TIME}
      - LIDO_EXPORTER_LOG_LEVEL=${LIDO_EXPORTER_LOG_LEVEL}
    networks:
      - sedge
{{ end }}