{{/* config.tmpl */}}
dependencies:
  - docker

executionClients:
{{ range $_, $name := index . "execution" }}  - {{ $name }}
{{end}}
consensusClients:
{{ range $_, $name := index . "consensus" }}  - {{ $name }}
{{end}} 
validatorClients:
{{ range $_, $name := index . "validator" }}  - {{ $name }}
{{end}}
logs:
  logLevel: info