{{/* prysm.tmpl */}}
{{ define "consensus" }}
# --- Consensus Layer - Beacon Node - configuration ---
CC_PEER_COUNT=50
CC_LOG_LEVEL=info
EC_API_URL={{.ExecutionApiURL}}
EC_AUTH_URL={{.ExecutionAuthURL}}
CC_INSTANCE_NAME=Prysm
CC_IMAGE_VERSION={{if .CcImage}}{{.CcImage}}{{else}}ghcr.io/gnosischain/gbc-prysm-beacon-chain:v2.1.4{{end}}
CC_DATA_DIR={{.CcDataDir}}
CC_JWT_SECRET_PATH={{.JWTSecretPath}}
CL_FEE_RECIPIENT={{.FeeRecipient}}
CL_BOOTNODE_1="enr:-L24QEN9xx93gaRbIhJXDjdCBF-ZcTbCQhDopc_8f23CnRQoH68VJMV61hkC-uanfFSVLhvGHe7X2uzqrYZ-wAVDwpWB0YdhdHRuZXRziP__________hGV0aDKQAZfIiAIAAG___________4JpZIJ2NIJpcIRA4yf4iXNlY3AyNTZrMaECElxPW-cqCv1OtnZxE1FwaJR-rHUqciCbb2soyQFhtiCIc3luY25ldHMPg3RjcIIjKIN1ZHCCIyg"
CL_BOOTNODE_2="enr:-Ly4QDQRiK5erOBDZ5mo0zUrGx4yOSF4h6TWtk0gvMVa0x4MGIVJc1kE6NAdlvQgUdbAp0JMDpyihv4nM6yKu1bkccoBh2F0dG5ldHOIAAAAAAAAAACEZXRoMpB8M18EAQAAb1oAAAAAAAAAgmlkgnY0gmlwhIm4k0iJc2VjcDI1NmsxoQL6f6tNRuTXyETiaqbuA2D8It9J1L0KNR0kcd2fJBd2pohzeW5jbmV0cwCDdGNwgiMog3VkcIIjKA"
CONFIG_URL=https://github.com/gnosischain/consensus-deployment-ansible/raw/master/chiado/custom_config_data/config.yaml
GENESIS_URL=https://github.com/gnosischain/consensus-deployment-ansible/raw/master/chiado/custom_config_data/genesis.ssz
DEPLOY_BLOCK=0
{{ end }}