{{/* geth.tmpl */}}
{{ define "execution" }}
  execution:
    stop_grace_period: 1m
    container_name: execution-client
    restart: unless-stopped
    image: ${EXECUTION_IMAGE_VERSION}
    volumes:
      - ./geth-execution-data:/var/lib/goethereum
    ports:
      - 30303:30303/tcp
      - 30303:30303/udp
      - 8545:8545/tcp
    command: 
      - geth
      - --http
      - --http.addr
      - 0.0.0.0
      - --http.vhosts=*
      - --http.corsdomain=*
      - --http.api
      - web3,eth,net
      - --datadir
      - /var/lib/goethereum
      - --port
      - 30303
      - --http.port
      - 8545
      - --${GETH_NETWORK}
      - --verbosity
      - ${GETH_LOG_LEVEL}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
{{ end }}