{{/* lighthouse.tmpl */}}
{{ define "validator" }}
  validator:
    container_name: validator-client
    image: ${VL_IMAGE_VERSION}
    depends_on: 
      - consensus
    volumes:
      - ./keystore:/var/lib/lighthouse/keystore
    command:
      - lighthouse
      - vc
      - --beacon-nodes=${CC_NODE}
      - --graffiti=${GRAFFITI}
      - --network=${NETWORK}
      - --debug-level=${VL_LOG_LEVEL}
      - --validators-dir=/var/lib/lighthouse/keystore
      - --secrets-dir=/var/lib/lighthouse/keystore/secrets
    network_mode: host
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
{{ end }}