{{/* teku.tmpl */}}
{{ define "validator" }}
  validator:
    container_name: validator-client
    image: ${VL_IMAGE_VERSION}
    depends_on: 
      - consensus
    user: root
    volumes:
      - ${VL_DATA_DIR}:/var/lib/teku
      - ${KEYSTORE_DIR}:/var/lib/teku/keystore
    command:
      - validator-client
      - --beacon-node-api-endpoint=${CC_NODE}
      - --data-path=/var/lib/teku
      - --log-destination=CONSOLE
      - --network=auto
      - --validators-graffiti=${GRAFFITI}
      - --validators-keystore-locking-enabled=true
      - --validator-keys=/var/lib/teku/keystore:/var/lib/teku/keystore/secrets
      - --validators-early-attestations-enabled=false
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
{{ end }}