{{/* lighthouse.tmpl */}}
{{ define "consensus" }}
  consensus:
    stop_grace_period: 30s
    container_name: consensus-client
    restart: unless-stopped
    image: ${CC_IMAGE_VERSION}
    networks:
      - 1click
    volumes:
      - ${CC_DATA_DIR}:/var/lib/lighthouse
      - ${CC_JWT_SECRET_PATH}:/tmp/jwt/jwtsecret
    ports:
      - "{{.ClDiscoveryPort}}:{{.ClDiscoveryPort}}/tcp"
      - "{{.ClDiscoveryPort}}:{{.ClDiscoveryPort}}/udp"
      - "{{.ClMetricsPort}}:{{.ClMetricsPort}}/tcp"{{if .MapAllPorts}}
      - "{{.ClApiPort}}:{{.ClApiPort}}"{{end}}
    expose:
      - {{.ClApiPort}}     
    command:
      - lighthouse
      - bn
      - --staking
      - --merge
      - --disable-upnp
      - --datadir=/var/lib/lighthouse
      - --port={{.ClDiscoveryPort}}
      - --http
      - --http-address=0.0.0.0
      - --http-port={{.ClApiPort}}
      - --network=${NETWORK}
      - --target-peers=${CC_PEER_COUNT}
      - --execution-endpoints=${EC_AUTH_URL}
      - --eth1-endpoints=${EC_API_URL}{{range $url := .FallbackELUrls}},{{$url}}{{end}}{{with .TTD}}
      - --terminal-total-difficulty-override=${TTD}{{end}}     
      - --debug-level=${CC_LOG_LEVEL}{{with .FeeRecipient}}
      - --suggested-fee-recipient=${CL_FEE_RECIPIENT}{{end}}
      - --validator-monitor-auto
      - --subscribe-all-subnets
      - --import-all-attestations 
      - --metrics
      - --metrics-port={{.ClMetricsPort}}
      - --metrics-address=0.0.0.0{{with .CheckpointSyncUrl}}
      - --checkpoint-sync-url={{.}}{{end}}{{range $flag := .ClExtraFlags}}
      - --{{$flag}}{{end}}{{if .Mev}}
      - --builder=http://mevboost:{{.MevPort}}{{end}}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"    
{{ end }}