{{/* lighthouse.tmpl */}}
{{ define "consensus" }}
  consensus:
    stop_grace_period: 30s
    container_name: sedge-consensus-client{{if .ContainerTag}}-{{.ContainerTag}}{{end}}
    restart: unless-stopped
    image: ${CC_IMAGE_VERSION}{{if .Mev}}
    depends_on:{{if .Mev}}
      mev-boost:
        condition: service_started{{end}}{{end}}
    networks:
      - sedge
    volumes:
      - ${CC_DATA_DIR}:/var/lib/lighthouse
      - ${CC_JWT_SECRET_PATH}:/tmp/jwt/jwtsecret{{if .CustomConsensusConfigs}}{{if .CustomNetworkConfigPath}}
      - {{.CustomNetworkConfigPath}}:/network_config/config.yaml{{end}}{{if .CustomGenesisPath}}
      - {{.CustomGenesisPath}}:/network_config/genesis.ssz{{end}}{{if .CustomDeployBlockPath}}
      - {{.CustomDeployBlockPath}}:/network_config/deploy_block.txt{{end}}{{end}}
    ports:
      - "{{.ClDiscoveryPort}}:{{.ClDiscoveryPort}}/tcp"
      - "{{.ClDiscoveryPort}}:{{.ClDiscoveryPort}}/udp"
      - "{{.ClMetricsPort}}:{{.ClMetricsPort}}/tcp"{{if .MapAllPorts}}
      - "{{.ClApiPort}}:{{.ClApiPort}}"{{end}}
    expose:
      - {{.ClApiPort}}
    command:
      - lighthouse{{if .CustomConsensusConfigs}}
      - --testnet-dir=/network_config{{end}}
      - bn
      - --disable-upnp
      - --datadir=/var/lib/lighthouse
      - --port={{.ClDiscoveryPort}}
      - --http
      - --http-address=0.0.0.0
      - --http-port={{.ClApiPort}}{{if not .CustomConsensusConfigs}}
      - --network={{if .SplittedNetwork}}${CL_NETWORK}{{else}}${NETWORK}{{end}}{{end}}{{if .CCBootnodes}}
      - --boot-nodes={{.CCBootnodes}}{{end}}
      - --execution-endpoints=${EC_AUTH_URL}
      - --execution-jwt=/tmp/jwt/jwtsecret
      - --eth1
      - --debug-level=${CC_LOG_LEVEL}{{with .FeeRecipient}}
      - --suggested-fee-recipient=${FEE_RECIPIENT}{{end}}
      - --validator-monitor-auto
      - --subscribe-all-subnets
      - --import-all-attestations
      - --metrics
      - --metrics-port={{.ClMetricsPort}}
      - --metrics-address=0.0.0.0{{if or .ClCheckpointSyncUrl .CheckpointSyncUrl}}
      - --checkpoint-sync-url={{if .CheckpointSyncUrl}}{{ .CheckpointSyncUrl }}{{else}}${CHECKPOINT_SYNC_URL}{{end}}{{end}}{{range $flag := .ClExtraFlags}}
      - --{{$flag}}{{end}}{{if .MevBoostEndpoint}}
      - --builder={{.MevBoostEndpoint}}{{end}}{{if .LoggingDriver}}
    logging:
      driver: "{{.LoggingDriver}}"{{if eq .LoggingDriver "json-file"}}
      options:
        max-size: "10m"
        max-file: "10"{{end}}{{end}}
{{ end }}
