{{/* lodestar.tmpl */}}
{{ define "consensus" }}
  consensus:
    stop_grace_period: 30s
    container_name: sedge-consensus-client{{if .ContainerTag}}-{{.ContainerTag}}{{end}}
    restart: unless-stopped
    image: ${CC_IMAGE_VERSION}
    networks:
      - sedge
    volumes:
      - ${CC_DATA_DIR}:/var/lib/lodestar/consensus
      - ${CC_JWT_SECRET_PATH}:/tmp/jwt/jwtsecret{{if .CustomConsensusConfigs}}{{if .CustomNetworkConfigPath}}
      - {{.CustomNetworkConfigPath}}:/network_config/config.yml{{end}}{{if .CustomGenesisPath}}
      - {{.CustomGenesisPath}}:/network_config/genesis.ssz{{end}}{{end}}
    ports:
      - "{{.ClDiscoveryPort}}:{{.ClDiscoveryPort}}/tcp"
      - "{{.ClDiscoveryPort}}:{{.ClDiscoveryPort}}/udp"
      - "{{.ClMetricsPort}}:{{.ClMetricsPort}}/tcp"{{if .MapAllPorts}}
      - "{{.ClApiPort}}:{{.ClApiPort}}"{{end}}
    expose:
      - {{.ClApiPort}} 
    environment:
      NODE_OPTIONS: --max_old_space_size=6144
    command: 
      - beacon
      - --preset=${CC_LODESTAR_PRESET}
      - --dataDir=/var/lib/lodestar/consensus{{if .CustomConsensusConfigs}}{{if .CustomNetworkConfigPath}}
      - --paramsFile=/network_config/config.yml{{end}}{{if .CustomGenesisPath}}
      - --genesisStateFile=/network_config/genesis.ssz{{end}}{{if .CustomDeployBlock}}
      - --eth1.depositContractDeployBlock={{.CustomDeployBlock}}{{end}}{{else}}
      - --network={{if .SplittedNetwork}}${CL_NETWORK}{{else}}${NETWORK}{{end}}{{end}}
      - --eth1=true
      - --eth1.providerUrls=${EC_API_URL}{{range $url := .FallbackELUrls}},{{$url}}{{end}}
      - --execution.urls=${EC_AUTH_URL}
      - --logFile=/var/lib/lodestart/consensus/logs/beacon.log 
      - --logFileLevel=${CC_LOG_LEVEL}{{with .FeeRecipient}}
      - --suggestedFeeRecipient=${FEE_RECIPIENT}{{end}}
      - --port={{.ClDiscoveryPort}}
      - --rest=true
      - --rest.address=0.0.0.0
      - --rest.port={{.ClApiPort}}
      - --rest.cors=*
      - --discv5=true{{range $enr := .CCBootnodesList}}
      - --bootnodes={{$enr}}{{end}}
      - --targetPeers=${CC_PEER_COUNT}
      - --metrics=true
      - --metrics.port={{.ClMetricsPort}}
      - --jwt-secret=/tmp/jwt/jwtsecret{{if or .ClCheckpointSyncUrl .CheckpointSyncUrl}}
      - --checkpointSyncUrl={{if .CheckpointSyncUrl}}{{ .CheckpointSyncUrl }}{{else}}${CHECKPOINT_SYNC_URL}{{end}}{{end}}{{range $flag := .ClExtraFlags}}
      - --{{$flag}}{{end}}{{if .MevBoostEndpoint}}
      - --builder=true
      - --builder.urls {{.MevBoostEndpoint}}{{end}}{{if .LoggingDriver}}
    logging:
      driver: "{{.LoggingDriver}}"{{if eq .LoggingDriver "json-file"}}
      options:
        max-size: "10m"
        max-file: "10"{{end}}{{end}}
{{ end }}
