{{/* lodestar.tmpl */}}
{{ define "consensus" }}
  consensus:
    stop_grace_period: 30s
    container_name: consensus-client
    restart: unless-stopped
    image: ${CC_IMAGE_VERSION}
    networks:
      - sedge
    volumes:
      - ${CC_DATA_DIR}:/var/lib/lodestar/consensus
      - ${CC_JWT_SECRET_PATH}:/tmp/jwt/jwtsecret
    ports:
      - "{{.ClDiscoveryPort}}:{{.ClDiscoveryPort}}/tcp"
      - "{{.ClDiscoveryPort}}:{{.ClDiscoveryPort}}/udp"
      - "{{.ClMetricsPort}}:{{.ClMetricsPort}}/tcp"{{if .MapAllPorts}}
      - "{{.ClApiPort}}:{{.ClApiPort}}"{{end}}
    expose:
      - {{.ClApiPort}} 
    environment:
      NODE_OPTIONS: --max_old_space_size=6144
    command: 
      - beacon 
      - --dataDir=/var/lib/lodestar/consensus
      - --network={{if .SplittedNetwork}}${CL_NETWORK}{{else}}${NETWORK}{{end}}
      - --eth1.enabled=true
      - --eth1.providerUrls=${EC_API_URL}{{range $url := .FallbackELUrls}},{{$url}}{{end}}
      - --execution.urls=${EC_AUTH_URL}{{with .TTD}}
      - --terminal-total-difficulty-override=${TTD}{{end}}
      - --logFile=/var/lib/lodestart/consensus/logs/beacon.log 
      - --logLevelFile=${CC_LOG_LEVEL}{{with .FeeRecipient}}
      - --chain.defaultFeeRecipient=${CL_FEE_RECIPIENT}{{end}}
      - --port={{.ClDiscoveryPort}}
      - --api.rest.enabled 
      - --api.rest.host=0.0.0.0
      - --api.rest.port={{.ClApiPort}}
      - --api.rest.cors=*
      - --network.discv5.enabled=true
      - --network.bootMultiaddrs=${CL_BOOTNODES}
      - --network.targetPeers=${CC_PEER_COUNT}
      - --metrics.enabled=true
      - --metrics.port={{.ClMetricsPort}}
      - --jwt-secret=/tmp/jwt/jwtsecret{{with .CheckpointSyncUrl}}
      - --weakSubjectivitySyncLatest
      - --weakSubjectivityServerUrl={{.}}{{end}}{{range $flag := .ClExtraFlags}}
      - --{{$flag}}{{end}}{{if .Mev}}
      - --builder.enabled
      - --builder.urls http://mevboost:{{.MevPort}}{{end}}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
{{ end }}