{{/* lodestar.tmpl */}}
{{ define "consensus" }}
  consensus:
    stop_grace_period: 30s
    container_name: consensus-client
    restart: unless-stopped
    image: ${CC_IMAGE_VERSION}{{with .CcCustomCfg}}
    depends_on:
      config_consensus:
        condition: service_completed_successfully{{end}}
    networks:
      - sedge
    volumes:
      - ${CC_DATA_DIR}:/var/lib/lodestar/consensus
      - ${CC_JWT_SECRET_PATH}:/tmp/jwt/jwtsecret{{if .CcCustomCfg}}{{if .CcRemoteCfg}}
      - ./config.yml:/network_config/config.yml{{end}}{{if .CcRemoteDpl}}
      - ./genesis.ssz:/network_config/genesis.ssz{{end}}{{end}}
    ports:
      - "{{.ClDiscoveryPort}}:{{.ClDiscoveryPort}}/tcp"
      - "{{.ClDiscoveryPort}}:{{.ClDiscoveryPort}}/udp"
      - "{{.ClApiPort}}:{{.ClApiPort}}"
      - "{{.ClMetricsPort}}:{{.ClMetricsPort}}/tcp"{{if .MapAllPorts}}
      - {{end}}
    expose:
      - {{.ClApiPort}} 
    environment:
      NODE_OPTIONS: --max_old_space_size=6144
    command: 
      - beacon
      - --preset=${CC_LODESTAR_PRESET}
      - --dataDir=/var/lib/lodestar/consensus{{if .CcCustomCfg}}{{if .CcRemoteCfg}}
      - --paramsFile=/network_config/config.yml{{end}}{{if .CcRemoteGen}}
      - --genesisStateFile=/network_config/genesis.ssz{{end}}{{if .CcRemoteDpl}}
      - --eth1.depositContractDeployBlock=${DEPLOY_BLOCK}{{end}}{{else}}
      - --network={{if .SplittedNetwork}}${CL_NETWORK}{{else}}${NETWORK}{{end}}{{end}}
      - --eth1=true
      - --eth1.providerUrls=${EC_API_URL}{{range $url := .FallbackELUrls}},{{$url}}{{end}}
      - --execution.urls=${EC_AUTH_URL}{{with .TTD}}
      - --terminal-total-difficulty-override=${TTD}{{end}}
      - --logFile=/var/lib/lodestart/consensus/logs/beacon.log 
      - --logFileLevel=${CC_LOG_LEVEL}{{with .FeeRecipient}}
      - --suggestedFeeRecipient=${CL_FEE_RECIPIENT}{{end}}
      - --port={{.ClDiscoveryPort}}
      - --rest=true
      - --rest.address=0.0.0.0
      - --rest.port={{.ClApiPort}}
      - --rest.cors=*
      - --discv5=true{{range $enr := .Bootnodes}}
      - --bootnodes={{$enr}}{{end}}
      - --targetPeers=${CC_PEER_COUNT}
      - --metrics=true
      - --metrics.port={{.ClMetricsPort}}
      - --jwt-secret=/tmp/jwt/jwtsecret{{if or .ClCheckpointSyncUrl .CheckpointSyncUrl}}
      - --checkpointSyncUrl={{if .CheckpointSyncUrl}}{{ .CheckpointSyncUrl }}{{else}}${CHECKPOINT_SYNC_URL}{{end}}{{end}}{{range $flag := .ClExtraFlags}}
      - --{{$flag}}{{end}}{{if .Mev}}
      - --builder=true
      - --builder.urls http://mevboost:{{.MevPort}}{{end}}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
{{ end }}
