{{/* prysm.tmpl */}}
{{ define "consensus" }}
  consensus:{{if and (ge .UID 0) (ge .GID 0)}}
    user: "{{.UID}}:{{.GID}}"{{end}}
    stop_grace_period: 30s
    container_name: sedge-consensus-client{{if .ContainerTag}}-{{.ContainerTag}}{{end}}
    restart: unless-stopped
    image: ${CC_IMAGE_VERSION}
    networks:
      - sedge
    volumes:
      - ${CC_DATA_DIR}:/var/lib/prysm
      - ${CC_JWT_SECRET_PATH}:/tmp/jwt/jwtsecret{{if .CustomConsensusConfigs}}{{if .CustomNetworkConfigPath}}
      - {{.CustomNetworkConfigPath}}:/network_config/config.yml{{end}}{{if .CustomGenesisPath}}
      - {{.CustomGenesisPath}}:/network_config/genesis.ssz{{end}}{{end}}
    ports:
      - "{{.ClDiscoveryPort}}:{{.ClDiscoveryPort}}/tcp"
      - "{{.ClDiscoveryPort}}:{{.ClDiscoveryPort}}/udp"
      - "{{.ClMetricsPort}}:{{.ClMetricsPort}}/tcp"{{if .MapAllPorts}}
      - "{{.ClApiPort}}:{{.ClApiPort}}"
      - "{{.ClAdditionalApiPort}}:{{.ClAdditionalApiPort}}"{{end}}
    expose:
      - {{.ClApiPort}}
      - {{.ClAdditionalApiPort}}
    command:{{if .CustomConsensusConfigs}}{{if .CustomNetworkConfigPath}}
      - --chain-config-file=/network_config/config.yml{{end}}{{if .CustomDeployBlock}}
      - --contract-deployment-block={{.CustomDeployBlock}}{{end}}{{if .CustomGenesisPath}}
      - --genesis-state=/network_config/genesis.ssz{{end}}{{else}}
      - --{{if .SplittedNetwork}}${CL_NETWORK}{{else}}${NETWORK}{{end}}{{end}}{{range $enr := .CCBootnodesList}}
      - --bootstrap-node={{$enr}}{{end}}{{if .TTD}}
      - --terminal-total-difficulty-override={{.TTD}}{{end}}
      - --p2p-tcp-port={{.ClDiscoveryPort}}
      - --p2p-udp-port={{.ClDiscoveryPort}}
      - --jwt-secret=/tmp/jwt/jwtsecret
      - --rpc-host=0.0.0.0
      - --rpc-port={{.ClAdditionalApiPort}}
      - --grpc-gateway-host=0.0.0.0
      - --grpc-gateway-port={{.ClApiPort}}
      - --datadir=/var/lib/prysm/
      - --verbosity=${CC_LOG_LEVEL}
      - --p2p-max-peers=${CC_PEER_COUNT}
      - --execution-endpoint=${EC_AUTH_URL}{{range $url := .FallbackELUrls}}
      - --fallback-web3provider={{$url}}{{end}}
      - --accept-terms-of-use{{with .FeeRecipient}}
      - --suggested-fee-recipient=${FEE_RECIPIENT}{{end}}
      - --monitoring-host=0.0.0.0
      - --monitoring-port={{.ClMetricsPort}}{{if or .ClCheckpointSyncUrl .CheckpointSyncUrl}}
      - --checkpoint-sync-url={{if .CheckpointSyncUrl}}{{ .CheckpointSyncUrl }}{{else}}${CHECKPOINT_SYNC_URL}{{end}}
      - --genesis-beacon-api-url={{if .CheckpointSyncUrl}}{{ .CheckpointSyncUrl }}{{else}}${CHECKPOINT_SYNC_URL}{{end}}{{end}}{{range $flag := .ClExtraFlags}}
      - --{{$flag}}{{end}}{{if .MevBoostEndpoint}}
      - --http-mev-relay={{.MevBoostEndpoint}}{{end}}{{if .LoggingDriver}}
    logging:
      driver: "{{.LoggingDriver}}"{{if eq .LoggingDriver "json-file"}}
      options:
        max-size: "10m"
        max-file: "10"{{end}}{{end}}
{{ end }}
