{{/* prysm.tmpl */}}
{{ define "consensus" }}
  consensus:
    stop_grace_period: 30s
    container_name: consensus-client
    restart: unless-stopped
    image: ${CC_IMAGE_VERSION}{{with .CcCustomCfg}}
    depends_on:
      config_consensus:
        condition: service_completed_successfully{{end}}
    networks:
      - sedge
    volumes:
      - ${CC_DATA_DIR}:/var/lib/prysm
      - ${CC_JWT_SECRET_PATH}:/tmp/jwt/jwtsecret{{if .CcCustomCfg}}{{if .CcRemoteCfg}}
      - ./config.yml:/network_config/config.yml{{end}}{{if .CcRemoteGen}}
      - ./genesis.ssz:/network_config/genesis.ssz{{end}}{{end}}
    ports:
      - "{{.ClDiscoveryPort}}:{{.ClDiscoveryPort}}/tcp"
      - "{{.ClDiscoveryPort}}:{{.ClDiscoveryPort}}/udp"
      - "{{.ClApiPort}}:{{.ClApiPort}}"
      - "{{.ClAdditionalApiPort}}:{{.ClAdditionalApiPort}}"
      - "{{.ClMetricsPort}}:{{.ClMetricsPort}}/tcp"{{if .MapAllPorts}}
      - {{end}}
    expose:
      - {{.ClApiPort}}
      - {{.ClAdditionalApiPort}}
    command:{{if .CcCustomCfg}}{{if .CcRemoteCfg}}
      - --chain-config-file=/network_config/config.yml{{end}}{{if .CcRemoteDpl}}
      - --contract-deployment-block=${DEPLOY_BLOCK}{{end}}{{if .CcRemoteGen}}
      - --genesis-state=/network_config/genesis.ssz{{end}}{{else}}
      - --{{if .SplittedNetwork}}${CL_NETWORK}{{else}}${NETWORK}{{end}}{{end}}{{range $enr := .Bootnodes}}
      - --bootstrap-node={{$enr}}{{end}}{{with .TTD}}
      - --terminal-total-difficulty-override=${TTD}{{end}}
      - --p2p-tcp-port={{.ClDiscoveryPort}}
      - --p2p-udp-port={{.ClDiscoveryPort}}
      - --jwt-secret=/tmp/jwt/jwtsecret
      - --rpc-host=0.0.0.0
      - --rpc-port={{.ClAdditionalApiPort}}
      - --grpc-gateway-host=0.0.0.0
      - --grpc-gateway-port={{.ClApiPort}}
      - --datadir=/var/lib/prysm/
      - --verbosity=${CC_LOG_LEVEL}
      - --p2p-max-peers=${CC_PEER_COUNT}
      - --execution-endpoint=${EC_AUTH_URL}{{range $url := .FallbackELUrls}}
      - --fallback-web3provider={{$url}}{{end}}
      - --accept-terms-of-use{{with .FeeRecipient}}
      - --suggested-fee-recipient=${CL_FEE_RECIPIENT}{{end}}
      - --monitoring-host=0.0.0.0
      - --monitoring-port={{.ClMetricsPort}}{{if or .ClCheckpointSyncUrl .CheckpointSyncUrl}}
      - --checkpoint-sync-url={{if .CheckpointSyncUrl}}{{ .CheckpointSyncUrl }}{{else}}${CHECKPOINT_SYNC_URL}{{end}}
      - --genesis-beacon-api-url={{if .CheckpointSyncUrl}}{{ .CheckpointSyncUrl }}{{else}}${CHECKPOINT_SYNC_URL}{{end}}{{end}}{{range $flag := .ClExtraFlags}}
      - --{{$flag}}{{end}}{{if .Mev}}
      - --http-mev-relay=http://mevboost:{{.MevPort}}{{end}}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
{{ end }}
