{{/* teku.tmpl */}}
{{ define "consensus" }}
  consensus:
    user: "root:root"
    stop_grace_period: 30s
    container_name: sedge-consensus-client{{if .ContainerTag}}-{{.ContainerTag}}{{end}}
    restart: unless-stopped
    image: ${CC_IMAGE_VERSION}{{if .Mev}}
    depends_on:{{if .Mev}}
      mev-boost:
        condition: service_started{{end}}{{end}}
    networks:
      - sedge
    volumes:
      - ${CC_DATA_DIR}:/var/lib/teku
      - ${CC_JWT_SECRET_PATH}:/tmp/jwt/jwtsecret{{if .CustomConsensusConfigs}}{{if .CustomNetworkConfigPath}}
      - {{.CustomNetworkConfigPath}}:/network_config/config.yml{{end}}{{if .CustomGenesisPath}}
      - {{.CustomGenesisPath}}:/network_config/genesis.ssz{{end}}{{end}}
    ports:
      - "{{.ClDiscoveryPort}}:{{.ClDiscoveryPort}}/tcp"
      - "{{.ClDiscoveryPort}}:{{.ClDiscoveryPort}}/udp"
      - "{{.ClMetricsPort}}:{{.ClMetricsPort}}/tcp"{{if .MapAllPorts}}
      - "{{.ClApiPort}}:{{.ClApiPort}}"{{end}}
    expose:
      - {{.ClApiPort}}
    command:
      - --log-destination=CONSOLE
      - --logging=${CC_LOG_LEVEL}{{if not .CustomConsensusConfigs}}
      - --network={{if .SplittedNetwork}}${CL_NETWORK}{{else}}${NETWORK}{{end}}{{else}}{{if .CustomGenesisPath}}
      - --initial-state=/network_config/genesis.ssz{{end}}{{if .CustomNetworkConfigPath}}
      - --network=/network_config/config.yml{{end}}{{end}}{{if .CCBootnodes}}
      - --p2p-discovery-bootnodes={{.CCBootnodes}}{{end}}
      - --p2p-enabled=true
      - --p2p-port={{.ClDiscoveryPort}}
      - --p2p-peer-upper-bound=${CC_PEER_COUNT}
      - --rest-api-enabled=true
      - --rest-api-host-allowlist=*
      - --rest-api-interface=0.0.0.0
      - --rest-api-port={{.ClApiPort}}
      - --rest-api-cors-origins=*
      - --rest-api-docs-enabled=false
      - --data-beacon-path=/var/lib/teku/beacon
      - --data-path=/var/lib/teku
      - --data-storage-archive-frequency=2048
      - --data-storage-mode=PRUNE
      - --data-storage-non-canonical-blocks-enabled=false
      - --ee-endpoint=${EC_AUTH_URL}{{with .FeeRecipient}}
      - --validators-proposer-default-fee-recipient=${FEE_RECIPIENT}{{end}}
      - --ee-jwt-secret-file=/tmp/jwt/jwtsecret
      - --metrics-enabled=true
      - --metrics-host-allowlist=*
      - --metrics-interface=0.0.0.0
      - --metrics-port={{.ClMetricsPort}}{{if or .ClCheckpointSyncUrl .CheckpointSyncUrl}}
      - --initial-state={{if .CheckpointSyncUrl}}{{ .CheckpointSyncUrl }}{{else}}${CHECKPOINT_SYNC_URL}{{end}}/eth/v2/debug/beacon/states/finalized{{end}}{{range $flag := .ClExtraFlags}}
      - --{{$flag}}{{end}}{{if .MevBoostEndpoint}}
      - --builder-endpoint={{.MevBoostEndpoint}}{{end}}{{if .XeeVersion}}
      - --Xee-version=${XEE_VERSION}{{end}}{{if .LoggingDriver}}
    logging:
      driver: "{{.LoggingDriver}}"{{if eq .LoggingDriver "json-file"}}
      options:
        max-size: "10m"
        max-file: "10"{{end}}{{end}}
{{ end }}
