{{/* juno.tmpl */}}
{{ define "starknet" }}
  starknet:
    tty: true
    environment:
      - TERM=xterm-256color
      - COLORTERM=truecolor
    stop_grace_period: 30m
    container_name: sedge-starknet-client{{if .ContainerTag}}-{{.ContainerTag}}{{end}}
    restart: unless-stopped
    image: ${L2_IMAGE_VERSION}
    networks:
      - sedge
    volumes:
      - ${L2_DATA_DIR}:/juno/data{{if .MapAllPorts}}
    ports:
      - "{{.L2ApiPort}}:{{.L2ApiPort}}"
      - "{{.L2WsPort}}:{{.L2WsPort}}"
      - "{{.L2MetricsPort}}:{{.L2MetricsPort}}"
      - "{{.L2GrpcPort}}:{{.L2GrpcPort}}"{{end}}
    expose:
      - {{.L2ApiPort}}
      - {{.L2WsPort}}
    command:
      - --colour=true
      - --db-path=/juno/data
      - --eth-node=${ETH-1-ENDPOINT}
      - --http=0.0.0.0
      - --http-host=0.0.0.0
      - --http-port={{.L2ApiPort}}
      - --ws=false
      - --ws-host=0.0.0.0
      - --ws-port={{.L2WsPort}}
      - --metrics=false
      - --metrics-host=0.0.0.0
      - --metrics-port={{.L2MetricsPort}}
      - --grpc=false
      - --grpc-host=0.0.0.0
      - --grpc-port={{.L2GrpcPort}}
      - --network=${NETWORK}
      - --pending-poll-interval=10s
      {{end}}
