{{/* teku.tmpl */}}
{{ define "validator" }}
# --- Consensus Layer - Validator Node - configuration ---
CC_API_URL={{.ConsensusApiURL}}
GRAFFITI={{if .Graffiti}}{{.Graffiti}}{{else}}{{.ExecutionEngineName}}-{{.ConsensusClientName}}{{end}}
VL_LOG_LEVEL=info
VL_INSTANCE_NAME=TekuValidator
VL_IMAGE_VERSION={{if .VlImage}}{{.VlImage}}{{else}}consensys/teku:22.9.0{{end}}
KEYSTORE_DIR={{.KeystoreDir}}
VL_DATA_DIR={{.VlDataDir}}
MEV=true
{{ end }}