{{/* docker-compose_base.tmpl */}}
{{ define "docker-compose" }}
version: "3.9"

services: {{ if not .ExecutionIsRemote }} {{template "execution" .}}
{{if .Mev}}
  mevboost:
    image: flashbots/mev-boost:latest
    networks:
      - sedge
    container_name: mev-boost
    restart: on-failure
    entrypoint:
      - /app/mev-boost
      - -addr
      - 0.0.0.0:{{.MevPort}}
      - -{{if .SplittedNetwork}}${EL_NETWORK}{{else}}${NETWORK}{{end}}
      - -relay-check
      - -relays
      - ${RELAY_URL}{{end}}
{{ end }} {{ if not .ConsensusIsRemote }} 
{{template "consensus" .}} 
{{ end }}
{{template "validator" .}}

networks:
  sedge:
    name: sedge_network
{{ end }}