{{/* docker-compose_base.tmpl */}}
{{ define "docker-compose" }}

services:
{{template "execution" .}}
{{if .Mev}}
  mev-boost:
    image: {{if .MevImage}}{{.MevImage}}{{else}}flashbots/mev-boost:latest{{end}}
    networks:
      - sedge
    container_name: sedge-mev-boost{{if .ContainerTag}}-{{.ContainerTag}}{{end}}
    restart: on-failure
    entrypoint:
      - /app/mev-boost
      - -addr
      - 0.0.0.0:{{.MevPort}}
      - -{{if .SplittedNetwork}}${EL_NETWORK}{{else}}${NETWORK}{{end}}
      - -relay-check
      - -relays
      - ${RELAY_URLS}{{end}}
{{template "consensus" .}}
{{if .Distributed}}
{{template "distributedValidator" .}}{{ end }}
{{ if .WithValidatorClient}}
{{template "validator-blocker" .}}{{end}}
{{template "validator" .}}
networks:
  sedge:
    name: sedge-network{{if .ContainerTag}}-{{.ContainerTag}}{{end}}
{{ end }}