{{/* docker-compose_base.tmpl */}}
{{ define "docker-compose" }}
version: "3.9"

services:
{{template "execution" .}}
{{if .Mev}}
  mevboost:
    image: flashbots/mev-boost:latest
    networks:
      - sedge
    container_name: mev-boost
    restart: on-failure
    entrypoint:
      - /app/mev-boost
      - -addr
      - 0.0.0.0:{{.MevPort}}
      - -{{if .SplittedNetwork}}${EL_NETWORK}{{else}}${NETWORK}{{end}}
      - -relay-check
      - -relays
      - ${RELAY_URL}{{end}}
  {{if or .CcCustomCfg .VlCustomCfg}}config_consensus:
    container_name: config_custom_network
    image: busybox:latest
    volumes:
      - ./:/tmp/app
    command: >
      sh -c "{{if or .CcRemoteCfg .VlRemoteCfg }}wget -O /tmp/app/config.yml ${CONFIG_URL};{{end}}{{if or .CcRemoteGen .VlRemoteGen }}wget -O /tmp/app/genesis.ssz ${GENESIS_URL};{{end}}{{if or .CcRemoteDpl .VlRemoteDpl }}echo -n ${DEPLOY_BLOCK} > /tmp/app/deploy_block.txt;{{end}}"{{end}}
{{template "consensus" .}}
{{template "validator" .}}

networks:
  sedge:
    name: sedge_network
{{ end }}