{{/* nginx-proxy.tmpl */}}
{{ define "nginx-proxy" }}
  nginx:
    container_name: sedge-nginx-proxy{{if .ContainerTag}}-{{.ContainerTag}}{{end}}
    image: nginx:latest
    networks:
       - sedge
    ports:
      - "80:80"  # Expose port 80 for Nginx
    restart: always
    volumes:
      - ./nginx/conf/:/etc/nginx/conf.d/:ro
{{ end }}