{{/* validator-blocker.tmpl */}}
{{ define "validator-blocker" }}
  validator-blocker:
    container_name: sedge-validator-blocker{{if .ContainerTag}}-{{.ContainerTag}}{{end}}
    image: busybox:latest
    command: >
      sh -c "
        echo 'Waiting {{ .VLStartGracePeriod }} seconds of grace period before starting the validator';
        sleep {{ .VLStartGracePeriod }};
        echo 'Done';
      "
{{ end }}