{{/* juno.tmpl */}}
{{ define "starknet" }}
# --- Juno Node - configuration ---
L2_IMAGE_VERSION={{.L2Image}}
L2_DATA_DIR={{.L2DataDir}}
ETH_NODE_URL={{.EthNodeURL}}
SC_API_URL={{.StarknetApiURL}}
{{ end }}