{{/* juno.tmpl */}}
{{ define "starknet" }}
# --- Layer 2 - Starknet Node - configuration ---
L1_EC_ENGINE_WS_RPC_URL={{.ExecutionWSApiURL}}
EC_L2_DATA_DIR={{.ElDataDir}}-starknet
STARKNET_IMAGE={{.StarknetImageVersion}}
STARKNET_PORT=9545
{{ end }}
