{{/* nethermind.tmpl */}}
{{ define "execution" }}
# --- Execution Layer - Execution Node - configuration ---
EC_IMAGE_VERSION={{if .ElImage}}{{.ElImage}}{{else}}nethermind/nethermind:1.14.6{{end}}
NETHERMIND_LOG_LEVEL=INFO
EC_ENABLED_MODULES=[Web3,Eth,Subscribe,Net]
NETHERMIND_PRUNING_CACHEMB=2048
EC_DATA_DIR={{.ElDataDir}}
EC_SNAP_SYNC_ENABLED=false
EC_JWT_SECRET_PATH={{.JWTSecretPath}}{{if .ECBootnodes}}
EC_BOOTNODES="{{ range $index, $enode := .ECBootnodes}}{{if $index}},{{end}}{{$enode}}{{end}}"{{end}}
{{ end }}