{{/* lighthouse.tmpl */}}
{{ define "validator" }}
  validator-import:
    container_name: validator-import-client
    build:
      context: github.com/NethermindEth/lighthouse-init-validator
      args:
        LH_VERSION: ${VL_IMAGE_VERSION}
        NETWORK: {{if .VlCustomCfg}}CUSTOM{{else}}{{if .SplittedNetwork}}${CL_NETWORK}{{else}}${NETWORK}{{end}}{{end}}{{with .VlCustomCfg}}
    depends_on:
      config_consensus:
        condition: service_completed_successfully{{end}}
    networks:
      - sedge
    volumes:
      - ${KEYSTORE_DIR}:/keystore
      - ${VL_DATA_DIR}:/data{{if .VlCustomCfg}}{{if .VlRemoteCfg}}
      - ./config.yml:/network_config/config.yaml{{end}}{{if .VlRemoteGen}}
      - ./genesis.ssz:/network_config/genesis.ssz{{end}}{{if .VlRemoteDpl}}
      - ./deploy_block.txt:/network_config/deploy_block.txt{{end}}{{end}}{{if .ImportSlashingProtection}}
    command: ["/bin/sh","validator-init.sh","/data/slashing-import.json"]{{end}}{{if .LoggingDriver}}
    logging:
      driver: "{{.LoggingDriver}}"{{if eq .LoggingDriver "json-file"}}
      options:
        max-size: "10m"
        max-file: "10"{{end}}{{end}}

  validator:
    container_name: validator-client
    image: ${VL_IMAGE_VERSION}
    depends_on: 
      validator-import:
        condition: service_completed_successfully
    networks:
      - sedge
    ports:
      - "{{.VlMetricsPort}}:{{.VlMetricsPort}}"
    volumes:
      - ${VL_DATA_DIR}:/data{{if .VlCustomCfg}}{{if .VlRemoteCfg}}
      - ./config.yml:/network_config/config.yaml{{end}}{{if .VlRemoteGen}}
      - ./genesis.ssz:/network_config/genesis.ssz{{end}}{{if .VlRemoteDpl}}
      - ./deploy_block.txt:/network_config/deploy_block.txt{{end}}{{end}}
    command:
      - lighthouse{{if .VlCustomCfg}}
      - --testnet-dir=/network_config{{end}}
      - vc{{if not .VlCustomCfg}}
      - --network={{if .SplittedNetwork}}${CL_NETWORK}{{else}}${NETWORK}{{end}}{{end}}
      - --beacon-nodes=${CC_API_URL}
      - --graffiti=${GRAFFITI}
      - --debug-level=${VL_LOG_LEVEL}
      - --validators-dir=/data/validators{{with .FeeRecipient}}
      - --suggested-fee-recipient=${CL_FEE_RECIPIENT}{{end}}
      - --metrics
      - --metrics-port={{.VlMetricsPort}}
      - --metrics-address=0.0.0.0{{range $flag := .VlExtraFlags}}
      - --{{$flag}}{{end}}{{if .Mev}}
      - --builder-proposals{{end}}{{if .LoggingDriver}}
    logging:
      driver: "{{.LoggingDriver}}"{{if eq .LoggingDriver "json-file"}}
      options:
        max-size: "10m"
        max-file: "10"{{end}}{{end}}
{{ end }}
