{{/* lodestar.tmpl */}}
{{ define "validator" }}
  validator:
    container_name: validator-client
    image: ${VL_IMAGE_VERSION}
    networks:
      - sedge
    ports:
      - "{{.VlMetricsPort}}:{{.VlMetricsPort}}"
    volumes:
      - ${VL_DATA_DIR}:/data/validator
      - ${KEYSTORE_DIR}:/data/keystore{{if .VlCustomCfg}}{{if .VlRemoteCfg}}
      - ./config.yml:/network_config/config.yml{{end}}{{if .VlRemoteGen}}
      - ./genesis.ssz:/network_config/genesis.ssz{{end}}{{end}}
    command: 
      - validator
      - --preset=${VL_LODESTAR_PRESET}{{if .VlCustomCfg}}{{if .VlRemoteCfg}}
      - --paramsFile=/network_config/config.yml{{end}}{{else}}
      - --network={{if .SplittedNetwork}}${CL_NETWORK}{{else}}${NETWORK}{{end}}{{end}}
      - --dataDir=/data/validator
      - --logFile=/data/validator/logs/validator.log
      - --logFileLevel=${VL_LOG_LEVEL}
      - --importKeystores=/data/keystore
      - --importKeystoresPassword=/data/keystore/keystore_password.txt
      - --server=${CC_API_URL}
      - --metrics=true
      - --metrics.address=0.0.0.0
      - --metrics.port={{.VlMetricsPort}}{{with .FeeRecipient}}
      - --suggestedFeeRecipient=${CL_FEE_RECIPIENT}{{end}}{{range $flag := .VlExtraFlags}}
      - --{{$flag}}{{end}}{{if .Mev}}
      - --builder=true{{end}}
      - --graffiti=${GRAFFITI}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
{{ end }}
