{{/* lodestar.tmpl */}}
{{ define "validator" }}
  validator:
    container_name: sedge-validator-client{{if .ContainerTag}}-{{.ContainerTag}}{{end}}
    image: ${VL_IMAGE_VERSION}
    depends_on:
      validator-blocker:
        condition: service_completed_successfully
    networks:
      - sedge
    ports:
      - "{{.VlMetricsPort}}:{{.VlMetricsPort}}"
    volumes:
      - ${VL_DATA_DIR}:/data{{if .CustomConsensusConfigs}}{{if .CustomNetworkConfigPath}}
      - {{.CustomNetworkConfigPath}}:/network_config/config.yml{{end}}{{end}}
    command: 
      - validator{{if .CustomConsensusConfigs}}{{if .CustomNetworkConfigPath}}
      - --paramsFile=/network_config/config.yml{{end}}{{else}}
      - --preset=${VL_LODESTAR_PRESET}
      - --network={{if .SplittedNetwork}}${CL_NETWORK}{{else}}${NETWORK}{{end}}{{end}}
      - --dataDir=/data
      - --logFile=/data/logs/validator.log
      - --logFileLevel=${VL_LOG_LEVEL}
      - --server=${CC_API_URL}
      - --metrics=true
      - --metrics.address=0.0.0.0
      - --metrics.port={{.VlMetricsPort}}{{with .FeeRecipient}}
      - --suggestedFeeRecipient=${FEE_RECIPIENT}{{end}}{{range $flag := .VlExtraFlags}}
      - --{{$flag}}{{end}}{{if .MevBoostOnValidator}}
      - --builder=true{{end}}
      - --graffiti=${GRAFFITI}{{if .LoggingDriver}}
    logging:
      driver: "{{.LoggingDriver}}"{{if eq .LoggingDriver "json-file"}}
      options:
        max-size: "10m"
        max-file: "10"{{end}}{{end}}
{{ end }}
