{{/* prysm.tmpl */}}
{{ define "validator" }}
  validator:
    container_name: sedge-validator-client{{if .ContainerTag}}-{{.ContainerTag}}{{end}}
    image: ${VL_IMAGE_VERSION}
    depends_on: 
      validator-blocker:
        condition: service_completed_successfully{{if .WithConsensusClient}}
      consensus-health:
        condition: service_healthy{{end}}
    networks:
      - sedge
    ports:
      - "{{.VlMetricsPort}}:{{.VlMetricsPort}}"
    volumes:
      - ${VL_DATA_DIR}:/data
      - ${KEYSTORE_DIR}/keystore_password.txt:/keystore/keystore_password.txt{{if .CustomConsensusConfigs}}{{if .CustomNetworkConfigPath}}
      - {{.CustomNetworkConfigPath}}:/network_config/config.yml{{end}}{{end}}
    command:
      - --datadir=/data
      - --wallet-dir=/data/wallet
      - --wallet-password-file=/keystore/keystore_password.txt{{if .CustomConsensusConfigs}}{{if .CustomNetworkConfigPath}}
      - --chain-config-file=/network_config/config.yml{{end}}{{else}}
      - --{{if .SplittedNetwork}}${CL_NETWORK}{{else}}${NETWORK}{{end}}{{end}}
      - --beacon-rpc-provider=${CC_ADD_API_URL}
      - --graffiti=${GRAFFITI}
      - --verbosity=${VL_LOG_LEVEL}
      - --accept-terms-of-use
      - --monitoring-host=0.0.0.0
      - --monitoring-port={{.VlMetricsPort}}{{range $flag := .VlExtraFlags}}
      - --{{$flag}}{{end}}{{with .FeeRecipient}}
      - --suggested-fee-recipient=${CC_FEE_RECIPIENT}{{end}}{{if .MevBoostOnValidator}}
      - --enable-builder{{end}}{{if .LoggingDriver}}
    logging:
      driver: "{{.LoggingDriver}}"{{if eq .LoggingDriver "json-file"}}
      options:
        max-size: "10m"
        max-file: "10"{{end}}{{end}}
{{ end }}
