{{/* teku.tmpl */}}
{{ define "validator" }}
  validator:
    user: "root:root"
    container_name: sedge-validator-client{{if .ContainerTag}}-{{.ContainerTag}}{{end}}
    image: ${VL_IMAGE_VERSION}
    depends_on:
      validator-blocker:
        condition: service_completed_successfully
    networks:
      - sedge
    ports:
      - "{{.VlMetricsPort}}:{{.VlMetricsPort}}"
    volumes:
      - ${VL_DATA_DIR}:/data{{if .CustomConsensusConfigs}}{{if .CustomNetworkConfigPath}}
      - {{.CustomNetworkConfigPath}}:/network_config/config.yml{{end}}{{end}}
    command:
      - validator-client{{if .CustomConsensusConfigs}}{{if .CustomNetworkConfigPath}}
      - --network=/network_config/config.yml{{end}}{{end}}
      - --beacon-node-api-endpoint={{if .Distributed}}${DV_API_URL}{{else}}${CC_API_URL}{{end}}
      - --data-path=/data
      - --log-destination=CONSOLE
      - --validators-graffiti=${GRAFFITI}
      - --validator-keys=/data/keys:/data/passwords
      - --metrics-enabled=true
      - --metrics-host-allowlist=*
      - --metrics-interface=0.0.0.0
      - --metrics-port={{.VlMetricsPort}}{{with .FeeRecipient}}
      - --validators-proposer-default-fee-recipient=${FEE_RECIPIENT}{{end}}{{range $flag := .VlExtraFlags}}
      - --{{$flag}}{{end}}{{if .MevBoostOnValidator}}
      - --validators-proposer-blinded-blocks-enabled=true
      - --validators-builder-registration-default-enabled=true
      - --Xvalidators-builder-registration-default-gas-limit=29000000{{end}}{{if .LoggingDriver}}
    logging:
      driver: "{{.LoggingDriver}}"{{if eq .LoggingDriver "json-file"}}
      options:
        max-size: "10m"
        max-file: "10"{{end}}{{end}}
{{ end }}
