{{/* nethermind.tmpl */}}
{{ define "execution" }}
# --- Execution Layer - Execution Node - configuration ---
EC_IMAGE_VERSION={{.ElImage}}
NETHERMIND_LOG_LEVEL=INFO
EC_DATA_DIR={{.ElDataDir}}
EC_JWT_SECRET_PATH={{.JWTSecretPath}}
{{ end }}