{{/* nethermind.tmpl */}}
{{ define "execution" }}
  execution:
    stop_grace_period: 1m
    container_name: execution-client
    restart: unless-stopped
    image: ${EC_IMAGE_VERSION}
    networks:
      - 1click
    volumes:
      - ${EC_DATA_DIR}:/nethermind/data
    ports:
      - "{{.ElDiscoveryPort}}:{{.ElDiscoveryPort}}/tcp"
      - "{{.ElDiscoveryPort}}:{{.ElDiscoveryPort}}/udp"
      - "{{.ElMetricsPort}}:{{.ElMetricsPort}}/tcp"{{if .MapAllPorts}}
      - "8545:8545"{{end}}
    expose:
      - 8545
    command: 
      - --config=${NETWORK}
      - --datadir=/nethermind/data
      - --log=${NETHERMIND_LOG_LEVEL}
      - --Metrics.Enabled=${EC_METRICS_ENABLED}
      - --Metrics.NodeName=${EC_NODENAME}
      - --Metrics.PushGatewayUrl=${NETHERMIND_METRICS_PUSH_GATEWAY_URL}
      - --Metrics.ExposePort=8008
      - --Sync.SnapSync=${EC_SNAP_SYNC_ENABLED}
      - --Init.WebSocketsEnabled=true
      - --JsonRpc.Enabled=true
      - --JsonRpc.Host=0.0.0.0
      - --JsonRpc.EnabledModules=${EC_ENABLED_MODULES}
      - --HealthChecks.Enabled=${NETHERMIND_HEALTH_CHECKS_ENABLED}
      - --Pruning.CacheMb=${NETHERMIND_PRUNING_CACHEMB}{{range $flag := .ElExtraFlags}}
      - --{{$flag}}{{end}}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
{{ end }}