{{/* lodestar.tmpl */}}
{{ define "validator" }}
# --- Consensus Layer - Validator Node - configuration ---
CC_API_URL={{.ConsensusApiURL}}
GRAFFITI={{.ExecutionEngineName}}
VL_LOG_LEVEL=info
VL_INSTANCE_NAME=LodestarValidator
VL_IMAGE_VERSION={{if .VlImage}}{{.VlImage}}{{else}}chainsafe/lodestar:next{{end}}
KEYSTORE_DIR={{.KeystoreDir}}
VL_DATA_DIR={{.VlDataDir}}
VL_LODESTAR_PRESET=gnosis
CONFIG_URL=https://github.com/gnosischain/consensus-deployment-ansible/raw/master/chiado/custom_config_data/config.yaml
GENESIS_URL=https://github.com/gnosischain/consensus-deployment-ansible/raw/master/chiado/custom_config_data/genesis.ssz
DEPLOY_BLOCK=14675001
{{ end }}
