{{/* lodestar.tmpl */}}
{{ define "validator" }}
# --- Consensus Layer - Validator Node - configuration ---
CC_API_URL={{.ConsensusApiURL}}
GRAFFITI={{if .Graffiti}}{{.Graffiti}}{{else}}{{.ExecutionEngineName}}-{{.ConsensusClientName}}{{end}}
VL_LOG_LEVEL=info
VL_INSTANCE_NAME=LodestarValidator
VL_IMAGE_VERSION={{if .VlImage}}{{.VlImage}}{{else}}chainsafe/lodestar:v1.2.2{{end}}
KEYSTORE_DIR={{.KeystoreDir}}
VL_DATA_DIR={{.VlDataDir}}
VL_LODESTAR_PRESET=gnosis
CONFIG_URL=https://github.com/gnosischain/configs/raw/main/chiado/config.yaml
GENESIS_URL=https://github.com/gnosischain/configs/raw/main/chiado/genesis.ssz
DEPLOY_BLOCK=0
{{ end }}
