{{/* lighthouse.tmpl */}}
{{ define "consensus" }}
  consensus:
    stop_grace_period: 1m
    container_name: consensus-client
    restart: unless-stopped
    image: ${CC_IMAGE_VERSION}
    networks:
      - 1click
    volumes:
      - ${CC_DATA_DIR}:/var/lib/lighthouse
    ports:
      - "{{.ClDiscoveryPort}}:{{.ClDiscoveryPort}}/tcp"
      - "{{.ClDiscoveryPort}}:{{.ClDiscoveryPort}}/udp"
      - "{{.ClMetricsPort}}:{{.ClMetricsPort}}/tcp"
    expose:
      - 4000  
    command:
      - lighthouse
      - bn
      - --disable-upnp
      - --datadir=/var/lib/lighthouse
      - --port=9000
      - --http
      - --http-address=0.0.0.0
      - --http-port=4000
      - --network=${NETWORK}
      - --target-peers=${CC_PEER_COUNT}
      - --eth1-endpoints=${EC_NODE}{{range $url := .FallbackELUrls}},{{$url}}{{end}}
      - --eth1-blocks-per-log-query=150
      - --debug-level=${CC_LOG_LEVEL}
      - --validator-monitor-auto
      - --subscribe-all-subnets
      - --import-all-attestations
      - --metrics
      - --metrics-port=5054
      - --metrics-address=0.0.0.0{{with .CheckpointSyncUrl}}
      - --checkpoint-sync-url={{.}}{{end}}{{range $flag := .ClExtraFlags}}
      - --{{$flag}}{{end}}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"    
{{ end }}