{{/* lodestar.tmpl */}}
{{ define "consensus" }}
  consensus:
    stop_grace_period: 1m
    container_name: consensus-client
    restart: unless-stopped
    image: ${CC_IMAGE_VERSION}
    networks:
      - 1click
    volumes:
      - ${CC_DATA_DIR}:/var/lib/lodestar/consensus
    ports:
      - "9000:9000/tcp"
      - "9000:9000/udp"
      - "5054:5054/tcp"{{if .MapAllPorts}}
      - "4000:4000"{{end}}
    expose:
      - 4000 
    environment:
      NODE_OPTIONS: --max_old_space_size=6144
    command: 
      - beacon 
      - --rootDir=/var/lib/lodestar/consensus
      - --network=${NETWORK}
      - --logFile=/var/lib/lodestart/consensus/logs/beacon.log 
      - --logLevelFile=${CC_LOG_LEVEL}
      - --api.rest.enabled 
      - --api.rest.host=0.0.0.0
      - --api.rest.port=4000
      - --network.discv5.bindAddr="/ip4/0.0.0.0/udp/9000"
      - --network.localMultiaddrs="/ip4/0.0.0.0/tcp/9000"
      - --eth1.providerUrls=${EC_NODE}{{range $url := .FallbackELUrls}},{{$url}}{{end}}
      - --network.targetPeers=${CC_PEER_COUNT}
      - --metrics.enabled=true
      - --metrics.port=5054{{with .CheckpointSyncUrl}}
      - --weakSubjectivitySyncLatest
      - --weakSubjectivityServerUrl={{.}}{{end}}{{range $flag := .ClExtraFlags}}
      - --{{$flag}}{{end}}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
{{ end }}