{{/* prysm.tmpl */}}
{{ define "consensus" }}
  consensus:
    stop_grace_period: 1m
    container_name: consensus-client
    restart: unless-stopped
    image: ${CC_IMAGE_VERSION}
    networks:
      - sedge
    volumes:
      - ${CC_DATA_DIR}:/var/lib/prysm
    ports:
      - "{{.ClDiscoveryPort}}:{{.ClDiscoveryPort}}/tcp"
      - "{{.ClDiscoveryPort}}:{{.ClDiscoveryPort}}/udp"
      - "{{.ClMetricsPort}}:{{.ClMetricsPort}}/tcp"{{if .MapAllPorts}}
      - "{{.ClApiPort}}:{{.ClApiPort}}"
      - "{{.ClAdditionalApiPort}}:{{.ClAdditionalApiPort}}"{{end}}
    expose:
      - {{.ClApiPort}}
      - {{.ClAdditionalApiPort}}
    command:
      - --datadir=/var/lib/prysm/
      - --verbosity=${CC_LOG_LEVEL}
      - --p2p-tcp-port={{.ClDiscoveryPort}}
      - --p2p-udp-port={{.ClDiscoveryPort}}
      - --p2p-max-peers=${CC_PEER_COUNT}
      - --rpc-host=0.0.0.0
      - --rpc-port={{.ClAdditionalApiPort}}
      - --grpc-gateway-host=0.0.0.0
      - --grpc-gateway-port={{.ClApiPort}}
      - --http-web3provider=${EC_API_URL}{{range $url := .FallbackELUrls}}
      - --fallback-web3provider={{$url}}{{end}}
      - --eth1-header-req-limit=150
      - --accept-terms-of-use
      - --monitoring-host=0.0.0.0
      - --monitoring-port={{.ClMetricsPort}}{{with .CheckpointSyncUrl}}
      - --checkpoint-sync-url={{.}}{{end}}{{range $flag := .ClExtraFlags}}
      - --{{$flag}}{{end}}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
{{ end }}
