{{/* prysm.tmpl */}}
{{ define "consensus" }}
  consensus:
    stop_grace_period: 1m
    container_name: consensus-client
    restart: unless-stopped
    image: ${CC_IMAGE_VERSION}
    networks:
      - 1click
    depends_on: 
      - execution
    volumes:
      - ${CC_DATA_DIR}:/var/lib/prysm
    ports:
      - 13000:13000/tcp
      - 12000:12000/udp
      - 5054:5054/tcp
    expose:
      - 4000
    command:
      - --datadir=/var/lib/prysm/
      - --verbosity=${CC_LOG_LEVEL}
      - --${NETWORK}
      - --p2p-tcp-port=13000
      - --p2p-udp-port=12000
      - --p2p-max-peers=${CC_PEER_COUNT}
      - --rpc-host=0.0.0.0
      - --grpc-gateway-host=0.0.0.0
      - --grpc-gateway-port=4000
      - --http-web3provider=${EC_NODE}{{range $url := .FallbackELUrls}}
      - --fallback-web3provider={{$url}}{{end}}
      - --eth1-header-req-limit=150
      - --accept-terms-of-use
      - --monitoring-host=0.0.0.0
      - --monitoring-port=5054
      {{with .CheckpointSyncUrl}}- --checkpoint-sync-url={{.}}{{end}}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
{{ end }}