{{/* besu.tmpl */}}
{{ define "execution" }}
  execution:
    stop_grace_period: 30m
    container_name: sedge-execution-client{{if .ContainerTag}}-{{.ContainerTag}}{{end}}
    restart: unless-stopped
    image: ${EC_IMAGE_VERSION}
    networks:
      - sedge
    volumes:
      - ${EC_DATA_DIR}:/var/lib/besu/data
      - ${EC_JWT_SECRET_PATH}:/var/lib/besu/jwtsecret{{if .CustomChainSpecPath}}
      - {{.CustomChainSpecPath}}:/nethermind/custom_config/chainspec.json{{end}}
    user: root
    ports:
      - "{{.ElDiscoveryPort}}:{{.ElDiscoveryPort}}/tcp"
      - "{{.ElDiscoveryPort}}:{{.ElDiscoveryPort}}/udp"
      - "{{.ElMetricsPort}}:{{.ElMetricsPort}}/tcp"{{if .MapAllPorts}}
      - "{{.ElApiPort}}:{{.ElApiPort}}"
      - "{{.ElAuthPort}}:{{.ElAuthPort}}"{{end}}
    expose:
      - {{.ElApiPort}}
      - {{.ElAuthPort}}
    command:
    - --sync-mode=X_SNAP
    - --data-storage-format=BONSAI{{if .CustomChainSpecPath}}
    - --genesis-file=/nethermind/custom_config/chainspec.json{{else}}
    - --network={{if .SplittedNetwork}}${EL_NETWORK}{{else}}${NETWORK}{{end}}{{end}}
    - --data-path=/var/lib/besu/data{{if .ECBootnodes}}
    - --bootnodes={{.ECBootnodes}}{{end}}
    - --metrics-enabled=true
    - --metrics-host=0.0.0.0
    - --metrics-port={{.ElMetricsPort}}
    - --engine-rpc-enabled=true
    - --engine-jwt-secret=/var/lib/besu/jwtsecret
    - --engine-rpc-port={{.ElAuthPort}}
    - --engine-host-allowlist=*
    - --rpc-http-enabled=true
    - --rpc-http-host=0.0.0.0
    - --rpc-http-port={{.ElApiPort}}
    - --rpc-http-api=${EC_ENABLED_MODULES}
    - --rpc-http-cors-origins=*
    - --host-whitelist=*{{range $flag := .ElExtraFlags}}
    - --{{$flag}}{{end}}{{if .LoggingDriver}}
    logging:
      driver: "{{.LoggingDriver}}"{{if eq .LoggingDriver "json-file"}}
      options:
        max-size: "10m"
        max-file: "10"{{end}}{{end}}
{{ end }}