{{/* erigon.tmpl */}}
{{ define "execution" }}
  execution:
    stop_grace_period: 30m
    container_name: sedge-execution-client{{if .ContainerTag}}-{{.ContainerTag}}{{end}}
    restart: unless-stopped
    image: ${EC_IMAGE_VERSION}
    networks:
      - sedge
    volumes:
    - ${EC_DATA_DIR}:/var/lib/erigon
    - ${EC_JWT_SECRET_PATH}:/var/lib/erigon/jwtsecret
    ports:
      - "{{.ElDiscoveryPort}}:{{.ElDiscoveryPort}}/tcp"
      - "{{.ElDiscoveryPort}}:{{.ElDiscoveryPort}}/udp"
      - "{{.ElMetricsPort}}:{{.ElMetricsPort}}/tcp"{{if .MapAllPorts}}
      - "{{.ElApiPort}}:{{.ElApiPort}}"
      - "{{.ElAuthPort}}:{{.ElAuthPort}}"{{end}}
    expose:
      - {{.ElApiPort}}
      - {{.ElAuthPort}}
    user: root
    command:
    - --private.api.addr=0.0.0.0:9090
    - --nat=any
    - --externalcl
    - --http
    - --http.addr=0.0.0.0
    - --http.port={{.ElApiPort}}
    - --http.vhosts=*
    - --http.corsdomain=*
    - --http.api=web3,eth,net,engine
    - --txpool.disable
    - --chain={{if .SplittedNetwork}}${EL_NETWORK}{{else}}${NETWORK}{{end}}{{if .ECBootnodes}}
    - --bootnodes={{.ECBootnodes}}{{end}}
    - --authrpc.addr=0.0.0.0
    - --authrpc.port={{.ElAuthPort}}
    - --authrpc.vhosts=*
    - --authrpc.jwtsecret=/var/lib/erigon/jwtsecret
    - --datadir=/var/lib/erigon
    - --healthcheck
    - --metrics
    - --metrics.addr=0.0.0.0
    - --metrics.port={{.ElMetricsPort}}{{range $flag := .ElExtraFlags}}
    - --{{$flag}}{{end}}{{if .LoggingDriver}}
    logging:
      driver: "{{.LoggingDriver}}"{{if eq .LoggingDriver "json-file"}}
      options:
        max-size: "10m"
        max-file: "10"{{end}}{{end}}

{{ end }}