{{/* geth.tmpl */}}
{{ define "execution" }}
  execution:
    stop_grace_period: 30m
    container_name: execution-client
    restart: unless-stopped
    image: ${EC_IMAGE_VERSION}
    networks:
      - sedge
    volumes:
      - ${EC_DATA_DIR}:/var/lib/goethereum
      - ${EC_JWT_SECRET_PATH}:/tmp/jwt/jwtsecret
    ports:
      - "{{.ElDiscoveryPort}}:{{.ElDiscoveryPort}}/tcp"
      - "{{.ElDiscoveryPort}}:{{.ElDiscoveryPort}}/udp"
      - "{{.ElMetricsPort}}:{{.ElMetricsPort}}/tcp"{{if .MapAllPorts}}
      - "{{.ElApiPort}}:{{.ElApiPort}}"
      - "{{.ElWsPort}}:{{.ElWsPort}}"
      - "{{.ElAuthPort}}:{{.ElAuthPort}}"{{end}}
    expose:
      - {{.ElApiPort}}
      - {{.ElWsPort}}
      - {{.ElAuthPort}}
    command:{{with .TTD}} 
      - --override.terminaltotaldifficulty=${TTD}{{end}}
      - --bootnodes=${EC_BOOTNODES}
      - --syncmode=${EC_SYNC_MODE}
      - --http
      - --http.addr=0.0.0.0
      - --http.vhosts=*
      - --http.corsdomain=*
      - --http.api
      - web3,eth,net
      - --datadir=/var/lib/goethereum
      - --port={{.ElDiscoveryPort}}
      - --http.port={{.ElApiPort}}
      - --{{if .SplittedNetwork}}${EL_NETWORK}{{else}}${NETWORK}{{end}}
      - --verbosity
      - ${GETH_LOG_LEVEL}
      - --ws
      - --ws.addr=0.0.0.0
      - --ws.port={{.ElWsPort}}
      - --ws.api=engine,eth,web3,net,debug
      - --authrpc.jwtsecret=/tmp/jwt/jwtsecret
      - --authrpc.addr=0.0.0.0
      - --authrpc.port={{.ElAuthPort}}
      - --authrpc.vhosts=*
      - ${EC_METRICS_ENABLED:-""}
      - --metrics.port={{.ElMetricsPort}}{{range $flag := .ElExtraFlags}}
      - --{{$flag}}{{end}}{{if .LoggingDriver}}
    logging:
      driver: "{{.LoggingDriver}}"{{if eq .LoggingDriver "json-file"}}
      options:
        max-size: "10m"
        max-file: "10"{{end}}{{end}}
{{ end }}