{{/* nethermind.tmpl */}}
{{ define "execution" }}
  execution:
    tty: true
    environment:
      - TERM=xterm-256color
      - COLORTERM=truecolor
    stop_grace_period: 30s
    container_name: sedge-execution-client{{if .ContainerTag}}-{{.ContainerTag}}{{end}}
    restart: unless-stopped
    image: ${EC_IMAGE_VERSION}
    networks:
      - sedge
    volumes:
      - ${EC_DATA_DIR}:/nethermind/data
      - ${EC_JWT_SECRET_PATH}:/tmp/jwt/jwtsecret{{if .CustomChainSpecPath}}
      - {{.CustomChainSpecPath}}:/nethermind/custom_config/chainspec.json{{end}}
    ports:
      - "{{.ElDiscoveryPort}}:{{.ElDiscoveryPort}}/tcp"
      - "{{.ElDiscoveryPort}}:{{.ElDiscoveryPort}}/udp"
      - "{{.ElMetricsPort}}:{{.ElMetricsPort}}"{{if .MapAllPorts}}
      - "{{.ElApiPort}}:{{.ElApiPort}}"
      - "{{.ElAuthPort}}:{{.ElAuthPort}}"{{end}}
    expose:
      - {{.ElApiPort}}
      - {{.ElAuthPort}}
    command:{{if .CustomChainSpecPath}}
      - --Init.ChainSpecPath=/nethermind/custom_config/chainspec.json{{end}}
      - --config={{if .CustomNetwork}}none{{else}}{{if .SplittedNetwork}}${EL_NETWORK}{{else}}${NETWORK}{{end}}{{end}}
      - --datadir=/nethermind/data
      - --log=${NETHERMIND_LOG_LEVEL}{{if .TTD}}
      - --Merge.TerminalTotalDifficulty={{.TTD}}{{end}}
      - --JsonRpc.Enabled=true
      - --JsonRpc.Host=0.0.0.0
      - --JsonRpc.Port={{.ElApiPort}}
      - --JsonRpc.JwtSecretFile=/tmp/jwt/jwtsecret
      - --JsonRpc.EngineHost=0.0.0.0
      - --JsonRpc.EnginePort={{.ElAuthPort}}
      - --Network.DiscoveryPort={{.ElDiscoveryPort}}{{if .ECBootnodes}}
      - --Network.Bootnodes={{.ECBootnodes}}
      - --Discovery.Bootnodes={{.ECBootnodes}}
      - --Network.StaticPeers={{.ECBootnodes}}{{end}}
      - --HealthChecks.Enabled=true
      - --Metrics.Enabled=true
      - --Metrics.ExposePort={{.ElMetricsPort}}{{range $flag := .ElExtraFlags}}
      - --{{$flag}}{{end}}{{if .LoggingDriver}}
    logging:
      driver: "{{.LoggingDriver}}"{{if eq .LoggingDriver "json-file"}}
      options:
        max-size: "10m"
        max-file: "10"{{end}}{{end}}
{{ end }}