{{/* nethermind.tmpl */}}
{{ define "execution" }}
  execution:
    stop_grace_period: 30s
    container_name: execution-client
    restart: unless-stopped
    image: ${EC_IMAGE_VERSION}
    networks:
      - sedge
    volumes:
      - ${EC_DATA_DIR}:/nethermind/data
      - ${EC_JWT_SECRET_PATH}:/tmp/jwt/jwtsecret
    ports:
      - "{{.ElDiscoveryPort}}:{{.ElDiscoveryPort}}/tcp"
      - "{{.ElDiscoveryPort}}:{{.ElDiscoveryPort}}/udp"
      - "{{.ElMetricsPort}}:{{.ElMetricsPort}}"{{if .MapAllPorts}}
      - "{{.ElApiPort}}:{{.ElApiPort}}"
      - "{{.ElAuthPort}}:{{.ElAuthPort}}"{{end}}
    expose:
      - {{.ElApiPort}}
      - {{.ElAuthPort}}
    command:
      - --config={{if .SplittedNetwork}}${EL_NETWORK}{{else}}${NETWORK}{{end}}
      - --datadir=/nethermind/data
      - --log=${NETHERMIND_LOG_LEVEL}{{with .TTD}}
      - --Merge.TerminalTotalDifficulty=${TTD}{{end}}
      - --Sync.SnapSync=${EC_SNAP_SYNC_ENABLED}
      - --JsonRpc.Enabled=true
      - --JsonRpc.Host=0.0.0.0
      - --JsonRpc.Port={{.ElApiPort}}
      - --JsonRpc.EnabledModules=${EC_ENABLED_MODULES}
      - --JsonRpc.JwtSecretFile=/tmp/jwt/jwtsecret
      - --JsonRpc.EngineHost=0.0.0.0
      - --JsonRpc.EnginePort={{.ElAuthPort}}
      - --Network.DiscoveryPort={{.ElDiscoveryPort}}{{if .ECBootnodes}}
      - --Network.Bootnodes=${EC_BOOTNODES}
      - --Discovery.Bootnodes=${EC_BOOTNODES}
      - --Network.StaticPeers=${EC_BOOTNODES}{{end}}
      - --HealthChecks.Enabled=true
      - --Pruning.CacheMb=${NETHERMIND_PRUNING_CACHEMB}
      - --Metrics.Enabled=true
      - --Metrics.ExposePort={{.ElMetricsPort}}{{range $flag := .ElExtraFlags}}
      - --{{$flag}}{{end}}{{if .LoggingDriver}}
    logging:
      driver: "{{.LoggingDriver}}"{{if eq .LoggingDriver "json-file"}}
      options:
        max-size: "10m"
        max-file: "10"{{end}}{{end}}
{{ end }}