{{/* lighthouse.tmpl */}}
# --- Consensus Layer - Beacon Node - configuration ---
CC_PEER_COUNT=50
CC_LOG_LEVEL=info
NETWORK=mainnet
EC_NODE={{.ExecutionNodeURL}}
CC_INSTANCE_NAME=Lighthouse
CC_IMAGE_VERSION=sigp/lighthouse:latest
CC_DATA_DIR={{.DataDir}}
	