{{/* lighthouse.tmpl */}}
{{ define "consensus" }}
# --- Consensus Layer - Beacon Node - configuration ---
CC_PEER_COUNT=50
CC_LOG_LEVEL=info
EC_API_URL={{.ExecutionApiURL}}
EC_AUTH_URL={{.ExecutionAuthURL}}
CC_INSTANCE_NAME=Lighthouse
CC_IMAGE_VERSION={{if .CcImage}}{{.CcImage}}{{else}}sigp/lighthouse:v3.3.0{{end}}
CC_DATA_DIR={{.CcDataDir}}
CC_JWT_SECRET_PATH={{.JWTSecretPath}}
CC_FEE_RECIPIENT={{.FeeRecipient}}{{if .CCBootnodes}}
CC_BOOTNODES="{{ range $index, $enr := .CCBootnodes}}{{if $index}},{{end}}{{$enr}}{{end}}"{{end}}{{if .CustomDeployBlock}}
DEPLOY_BLOCK={{.CustomDeployBlock}}{{end}}
CHECKPOINT_SYNC_URL=https://beaconstate.ethstaker.cc
{{ end }}