{{/* lodestar.tmpl */}}
{{ define "consensus" }}
# --- Consensus Layer - Beacon Node - configuration ---
CC_PEER_COUNT=50
CC_LOG_LEVEL=info
EC_API_URL={{.ExecutionApiURL}}
CC_INSTANCE_NAME=Lodestar
CC_IMAGE_VERSION={{if .CcImage}}{{.CcImage}}{{else}}chainsafe/lodestar:next{{end}}
CC_DATA_DIR={{.CcDataDir}}
CC_LODESTAR_PRESET=mainnet
{{ end }}
