{{/* prysm.tmpl */}}
{{ define "consensus" }}
# --- Consensus Layer - Beacon Node - configuration ---
CC_PEER_COUNT=50
CC_LOG_LEVEL=info
EC_NODE={{.ExecutionNodeURL}}
CC_INSTANCE_NAME=Prysm
CC_IMAGE_VERSION=gcr.io/prysmaticlabs/prysm/beacon-chain:stable
CC_DATA_DIR={{.CcDataDir}}
{{ end }}