{{/* prysm.tmpl */}}
{{ define "consensus" }}
# --- Consensus Layer - Beacon Node - configuration ---
CC_PEER_COUNT=50
CC_LOG_LEVEL=info
EC_API_URL={{.ExecutionApiURL}}
EC_AUTH_URL={{.ExecutionAuthURL}}
CC_INSTANCE_NAME=Prysm
CC_IMAGE_VERSION={{if .CcImage}}{{.CcImage}}{{else}}gcr.io/prysmaticlabs/prysm/beacon-chain:v3.1.0{{end}}
CC_DATA_DIR={{.CcDataDir}}
CC_JWT_SECRET_PATH={{.JWTSecretPath}}
CL_FEE_RECIPIENT={{.FeeRecipient}}
CHECKPOINT_SYNC_URL=https://beaconstate.ethstaker.cc
{{ end }}