{{/* lighthouse.tmpl */}}
{{ define "consensus" }}
  consensus:
    stop_grace_period: 1m
    container_name: consensus-client
    restart: unless-stopped
    image: ${CC_IMAGE_VERSION}
    depends_on: 
      - execution
    volumes:
      - ${CC_DATA_DIR}:/var/lib/lighthouse
    ports:
      - 9000:9000/tcp
      - 9000:9000/udp
      - 4000:4000/tcp
    command:
      - lighthouse
      - bn
      - --disable-upnp
      - --datadir=/var/lib/lighthouse
      - --port=9000
      - --http
      - --http-address=0.0.0.0
      - --http-port=4000
      - --network=${NETWORK}
      - --target-peers=${CC_PEER_COUNT}
      - --eth1-endpoints=${EC_NODE}
      - --eth1-blocks-per-log-query=150
      - --debug-level=${CC_LOG_LEVEL}
      - --validator-monitor-auto
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"    
{{ end }}