{{/* prysm.tmpl */}}
{{ define "consensus" }}
  consensus:
    stop_grace_period: 1m
    container_name: prysm-consesus-client
    restart: unless-stopped
    image: ${CC_IMAGE_VERSION}
    depends_on: 
      - execution
    volumes:
      - ./prysmconsensus-data:/var/lib/prysm
    ports:
      - 13000:13000/tcp
      - 12000:12000/udp
      - 3500:3500/tcp
      - 4000:4000/tcp
    command:
      - --datadir=/var/lib/prysm/
      - --verbosity=${CC_LOG_LEVEL}
      - --${NETWORK}
      - --p2p-tcp-port=13000
      - --p2p-udp-port=12000
      - --p2p-max-peers=${PEER_COUNT}
      - --rpc-host=0.0.0.0
      - --grpc-gateway-host=0.0.0.0
      - --grpc-gateway-port=4000
      - --http-web3provider=${EC_NODE}
      - --fallback-web3provider=${EC_FALLBACK_NODE1}
      - --fallback-web3provider=${EC_FALLBACK_NODE2}
      - --eth1-header-req-limit=150
      - --accept-terms-of-use
    logging:
      driver: "json-file"
      options:
  	    max-size: "10m"
  	    max-file: "10"
{{ end }}