{{/* teku.tmpl */}}
{{ define "consensus" }}
  consensus:
    stop_grace_period: 1m
    container_name: consensus-client
    restart: unless-stopped
    image: ${CC_IMAGE_VERSION}
    depends_on: 
      - execution
    user: root
    volumes:
      - ${CC_DATA_DIR}:/var/lib/teku
    ports:
      - 9000:9000/tcp
      - 9000:9000/udp
      - 4000:4000/tcp
    environment:
      - JAVA_OPTS=-XX:SoftMaxHeapSize=2g -Xmx4g
    command:
      - --data-path=/var/lib/teku
      - --log-destination=CONSOLE
      - --logging=${CC_LOG_LEVEL}
      - --network=${NETWORK}
      - --p2p-port=9000
      - --p2p-peer-upper-bound=${CC_PEER_COUNT}
      - --rest-api-host-allowlist=*
      - --rest-api-enabled=true
      - --rest-api-port=4000
      - --eth1-endpoints=${EC_NODE}
      - --eth1-deposit-contract-max-request-size=150
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
{{ end }}