{{/* geth.tmpl */}}
{{ define "execution" }}
# --- Execution Layer - Execution Node - configuration ---
EC_IMAGE_VERSION=ethereum/client-go
GETH_LOG_LEVEL=3
EC_DATA_DIR={{.ElDataDir}}
EC_METRICS_ENABLED="--metrics"
EC_SYNC_MODE=snap
{{ end }}