{{/* lodestar.tmpl */}}
{{ define "validator" }}
  validator-import:
    image: ${VL_IMAGE_VERSION}
    networks:
      - 1click
    container_name: validator-import-client
    volumes:
      - ${KEYSTORE_DIR}:/keystore
    command: |
      account validator import
      --network ${NETWORK}
      --directory=/keystore/validator_keys
      --passphraseFile=/keystore/keystore_password.txt

  validator:
    container_name: validator-client
    image: ${VL_IMAGE_VERSION}
    depends_on: 
      validator-import:
        condition: service_completed_successfully
    networks:
      - 1click
    ports:
      - "{{.VlMetricsPort}}:{{.VlMetricsPort}}"
    volumes:
      - ${VL_DATA_DIR}:/var/lib/lodestar/validator
      - ${KEYSTORE_DIR}:/var/lib/lodestar/keystore
    environment:
      NODE_OPTIONS: --max_old_space_size=8192
    command: 
      - validator
      - --network=${NETWORK}
      - --rootDir=/var/lib/lodestar/validator
      - --logFile=/var/lib/lodestart/validator/logs/validator.log
      - --logLevelFile=${VL_LOG_LEVEL}
      - --importKeystoresPath=/var/lib/lodestar/keystore
      - --importKeystoresPassword=/var/lib/lodestar/keystore/keystore_password.txt
      - --server=${CC_API_URL}
      - --metrics.enabled=true
      - --metrics.address=0.0.0.0
      - --metrics.port={{.VlMetricsPort}}{{with .FeeRecipient}}
      - --defaultFeeRecipient=${CL_FEE_RECIPIENT}{{end}}{{range $flag := .VlExtraFlags}}
      - --{{$flag}}{{end}}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
{{ end }}