{{/* prysm.tmpl */}}
{{ define "validator" }}
  validator-import:
    image: ${VL_IMAGE_VERSION}
    depends_on: 
      - consensus
    container_name: validator-import-client
    volumes:
      - ${KEYSTORE_DIR}:/keystore
      - ${WALLET_DIR}:/wallet
    command: |
      account import
      --directory=/keystore/validator_keys
      --wallet-dir=/wallet

  validator:
    container_name: validator-client
    image: ${VL_IMAGE_VERSION}
    depends_on: 
      - validator-import
    volumes:
      - ${VL_DATA_DIR}:/var/lib/prysm
      - ${WALLET_DIR}:/var/lib/prysm/wallet
    command:
      - --datadir=/var/lib/prysm
      - --wallet-dir=/var/lib/prysm/wallet
      - --beacon-rpc-provider=${CC_NODE}
      - --graffiti=${GRAFFITI}
      - --verbosity=${VL_LOG_LEVEL}
      - --${NETWORK}
      - --enable-doppelganger
      - --accept-terms-of-use
      - --wallet-password-file=/var/lib/prysm/wallet/password.txt
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"
{{ end }}
