{{/* taikoclient.tmpl */}}
{{ define "taiko" }}
# --- Layer 2 - Taiko Node - configuration ---
L1_EC_ENGINE_WS_TAIKO_RPC_URL={{.ExecutionWSApiURL}}
EC_L2_JWT_SECRET_PATH={{.JWTL2SecretPath}}
EC_ENGINE_WS_TAIKO_RPC_URL=ws://execution-l2:{{.ElL2APort}}
EC_ENGINE_TAIKO_RPC_URL=http://execution-l2:{{.ElL2AuthPort}}
TAIKO_L1_CONTRACT=0x06a9Ab27c7e2255df1815E6CC0168d7755Feb19a
TAIKO_L2_CONTRACT=0x1670000000000000000000000000000000010001
TAIKO_IMAGE_VERSION={{.TaikoImageVersion}}
TAIKO_CHECKPOINT_URL=https://rpc.taiko.xyz
{{ end }}
