{{/* juno.tmpl */}}
{{ define "starknet" }}
# --- Juno Node - configuration ---
L2_IMAGE_VERSION={{.L2Image}}
L2_DATA_DIR={{.L2DataDir}}
EC_API_URL={{.ExecutionApiURL}}
NETWORK=goerli
{{ end }}