{{/* lodestar.tmpl */}}
{{ define "consensus" }}
# --- Consensus Layer - Beacon Node - configuration ---
CC_PEER_COUNT=50
CC_LOG_LEVEL=info
EC_API_URL={{.ExecutionApiURL}}
EC_AUTH_URL={{.ExecutionAuthURL}}
CC_INSTANCE_NAME=Lodestar
CC_IMAGE_VERSION={{if .CcImage}}{{.CcImage}}{{else}}chainsafe/lodestar:v1.2.2{{end}}
CC_DATA_DIR={{.CcDataDir}}
CC_LODESTAR_PRESET=mainnet
CC_JWT_SECRET_PATH={{.JWTSecretPath}}
CC_FEE_RECIPIENT={{.FeeRecipient}}
{{ end }}
