{{/* taikoclient.tmpl */}}
{{ define "taiko" }}
  taiko_client_driver:
    tty: true
    environment:
      - TERM=xterm-256color
      - COLORTERM=truecolor
    stop_grace_period: 30s
    container_name: sedge-consensus-taikodriver-client{{if .ContainerTag}}-{{.ContainerTag}}{{end}}
    restart: unless-stopped
    image: ${TAIKO_IMAGE_VERSION}
    networks:
      - sedge
    volumes:
      - ${EC_L2_JWT_SECRET_PATH}:/tmp/jwt/jwtsecret
    command:
      - driver
      - --l1.ws=${L1_EC_ENGINE_WS_TAIKO_RPC_URL}
      - --l2.ws=${EC_ENGINE_WS_TAIKO_RPC_URL}
      - --l1.beacon={{.ConsensusApiURL}}
      - --l2.auth=${EC_ENGINE_TAIKO_RPC_URL}
      - --taikoInbox=${TAIKO_INBOX_CONTRACT}
      - --taikoAnchor=${TAIKO_ANCHOR_CONTRACT}
      - --jwtSecret=/tmp/jwt/jwtsecret
      - --p2p.sync
      - --p2p.bootnodes=${TAIKO_BOOTNODES}
      - --p2p.checkPointSyncUrl=${TAIKO_CHECKPOINT_URL}{{range $flag := .TaikoExtraFlags}}
      - --{{$flag}}{{end}}{{if .LoggingDriver}}
    logging:
      driver: "{{.LoggingDriver}}"{{if eq .LoggingDriver "json-file"}}
      options:
        max-size: "10m"
        max-file: "10"{{end}}{{end}}
{{ end }}
